pkgbase = logana
	pkgdesc = A TUI log analyzer/viewer built for speed - handles files with millions of lines with instant filtering and VIM like navigation.
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/pauloremoli/logana
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = rust
	makedepends = cargo
	provides = logana
	conflicts = logana
	source = logana-0.1.0.tar.gz::https://github.com/pauloremoli/logana/archive/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = logana
